<div class="bg-dark p-3 mt-3 mb-3">
  <div class="text-light">
    <h2>Edit Post</h2>
  </div>
  <form id="edit-post-form">
    <input type="hidden" name="post-id" value="{{post.id}}" />

    <div class="form-group">
      <label class="text-light" for="post-title">Title</label>
      <input type="text" class="form-control" name="post-title" value="{{post.title}}" />
    </div>

    <div class="form-group">
      <label class="text-light" for="post-body">Content</label>
      <textarea class="form-control" name="post-body">{{post.body}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>

    <button type="button" id="delete-btn" class="btn btn-danger">Delete</button>
  </form>
</div>

<script src="/js/edit.js"></script>